lib/
src/obj/
test/testfortran
test/testc
equations/build/
tools/

test/

*~
src/compute_pair.f90
src/compute_bond.f90
src/models.f90
src/compute_angle.f90
src/compute_dihedral.f90
include/
*.gcno
*.gcda
*.gcov
src/compute_coul.f90
